FROM --platform=arm64 gcr.io/distroless/cc:debug-nonroot-arm64@sha256:${distrolessHashDebugArm64}
ADD --checksum=sha256:${llrtHashArm64} --chmod=777 https://github.com/awslabs/llrt/releases/download/${llrtVersion}/llrt-container-arm64-no-sdk /usr/bin/llrt
CMD [ "llrt" ]
