FROM gcr.io/distroless/cc:debug-nonroot@sha256:${distrolessHashDebugX64}
ADD --checksum=sha256:${llrtHashX64} --chmod=777 https://github.com/awslabs/llrt/releases/download/${llrtVersion}/llrt-container-x64-no-sdk /usr/bin/llrt
CMD [ "llrt" ]
